{% extends 'base.html.twig' %}

{% block title %}Ajout d'un livre{% endblock %}

{% block body %}
   
   <div class="container mt-5">
    <div class="retour text-end">
      <a href="{{ path('app_library') }}" class="link">Retour</a>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.description) }}
    <div class="langue_row">
      <div class="langue_label">
        {{ form_label(form.langue)}} 
        <a href="#" data-bs-toggle="modal" data-bs-target="#langueModal">
          <i class="fa-solid fa-plus" title="Ajouter une langue"></i>
        </a>
      </div>
      <div class="langue_input">
        {{ form_widget(form.langue)}}
      </div>
    
    </div>
    {{ form_row(form.date_parution) }}
    {{ form_row(form.nombre_pages) }}
    <div class="genre_row">
      <div class="genre_label">
        {{ form_label(form.genre_id)}}
        <a href="#" data-bs-toggle="modal" data-bs-target="#genreModal">
            <i class="fa-solid fa-plus" title="Ajouter un genre"></i>
        </a> 
      </div>
      <div class="genre_input">
        {{ form_widget(form.genre_id)}}
      </div>
    </div>
    <div class="auteur_row">
      <div class="auteur_label">
        {{ form_label(form.auteur)}} 
        <a href="#" data-bs-toggle="modal" data-bs-target="#auteurModal">
           <i class="fa-solid fa-plus" title="Ajouter un auteur"></i>
        </a>
      </div>
      <div class="auteur_input">
        {{ form_widget(form.auteur)}}
      </div>
    </div>
    <div class="editeur_row">
      <div class="editeur_label">
        {{ form_label(form.editeur)}}
        <a href="#" data-bs-toggle="modal" data-bs-target="#editeurModal">
          <i class="fa-solid fa-plus" title="Ajouter un éditeur"></i>
        </a> 
      </div>
      <div class="editeur_input">
        {{ form_widget(form.editeur)}}
      </div>
    </div>
    <div class="text-center">
      {{ form_row(form.submit) }}
    </div>

    {{ form_end(form)}}
   </div>

       <!-- Langue Modal-->
<div class="modal fade" id="langueModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="langueModalLabel">Ajouter une langue</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ form_start(langue_form)}}
        <div class="langue-form-row-nom">
          {{ form_row(langue_form.nom) }}
        </div>
        <div class="text-center">
          {{ form_row(langue_form.submit)}}
        </div>
        {{ form_end(langue_form)}}
      </div>
    </div>
  </div>
</div>

       <!-- Genre Modal-->
  <div class="modal fade" id="genreModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="genreModalLabel">Ajouter un genre</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ form_start(genre_form)}}
        <div class="genre-form-row-nom">
          {{ form_row(genre_form.nom) }}
        </div>
        <div class="genre-form-row-description">
          {{ form_row(genre_form.description) }}
        </div>
        <div class="text-center">
          {{ form_row(genre_form.submit)}}
        </div>
        {{ form_end(genre_form)}}
      </div>
    </div>
  </div>
</div>

<!-- Editeur Modal-->
 <div class="modal fade" id="editeurModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editeurModalLabel">Ajouter un éditeur</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ form_start(editeur_form)}}
        <div class="editeur-form-row-nom">
          {{ form_row(editeur_form.nom) }}
        </div>
        <div class="editeur-form-row-submit text-center">
          {{ form_row(editeur_form.submit) }}
        </div>
        {{ form_end(editeur_form)}}
      </div>
    </div>
  </div>
</div>

<!-- Auteur Modal-->
  <div class="modal fade" id="auteurModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="auteurModalLabel">Ajouter un auteur</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ form_start(auteur_form)}}
          {{ form_row(auteur_form.nom)}}
          {{ form_row(auteur_form.prenom)}}
          {{ form_row(auteur_form.nationalite)}}
          {{ form_row(auteur_form.biographie)}}
          {{ form_row(auteur_form.date_naissance)}}
          {{ form_row(auteur_form.imageFile)}}
          <div class="text-center">
            {{ form_row(auteur_form.submit) }}
          </div>
        {{ form_end(auteur_form)}}
      </div>
    </div>
  </div>
</div> 

 {% endblock %}