{% extends 'base.html.twig' %}

{% block title %}Ma librairie{% endblock %}

{% block body %}
{% for message in app.flashes('livre') %}
    <div class="alert alert-success container" role="alert">
        {{ message }}
    </div>
{% endfor %}

<div class="container mt-5">
  <a href="{{ path('app_library_add') }}" class="btn btn-info float-end">Ajouter un livre</a>
  <table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Page de Couverture</th>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Genre</th>
      <th scope="col">Langue</th>
      <th scope="col">Nombre de pages</th>
      <th scope="col">
        
      </th>
    </tr>
  </thead>
  <tbody>
  {% if livres is not empty %}
    {% for livre in livres%}
      <tr>
        <th scope="row"><img src="{{ vich_uploader_asset(livre, 'imageFile')}}" class="rounded-circle" alt="..." style="width: 70px; height: 70px;"></th>
        <td style="vertical-align: middle;">{{ livre.titre }}</td>
        <td style="vertical-align: middle;">{% for auteur in livre.auteur %} {{auteur.prenom }} {{ auteur.nom }} </br> {% endfor %}</td>
        <td style="vertical-align: middle;"> {{ livre.genreId.nom }}</td>
        <td style="vertical-align: middle;">{{ livre.langue.nom }}</td>
        <td style="vertical-align: middle;">{{ livre.nombrePages }}</td>
        <td style="vertical-align: middle;">
          <button type="button" class="btn btn-info">
            Modifier
          </button>
          <button type="button" class="btn btn-danger">
            Supprimer
          </button>
        </td>
      </tr>
    {% endfor %}
  {% else %}
  <tr>
    <td colspan="6" style="text-align: center;">Aucun livre dans votre bibliothèque.</td>
  </tr>
  {% endif %}
  </tbody>
</table>
</div>

{% endblock %}
